VIRTUAL_ENV=/Users/maksim/PycharmProjects/game/venv
PYTHONPATH=/Users/maksim/PycharmProjects/game/:/another/directory
TESTRUNNER=unittest
VIRTUAL_ENV_PYTHON=/Users/maksim/PycharmProjects/game/venv/bin/python

